.invitelink-wrapper {
    display: flex;
}

@media screen and (max-width: 1245px) {
    .invitelink-wrapper {
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 650px) {
    .invitelink-wrapper {
        margin-bottom: 20px;
    }
}